<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr />
      <app-servers></app-servers>
      <!-- <div class="app-servers"></div> Assim, eu chamo com selector: '.app-servers' (chamando por classe)-->
      <!-- <div app-servers></div> Assim eu chamo com selector: '[app-servers]' (um atributo da minha div)-->
      <hr />
      <h3>Exercice 1!</h3>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ol>
              <li>
                Create two new Components (manually or with CLI): WarningAlert
                and SuccessAlert
              </li>
              <li>Output them beneath each other in the AppComponent</li>
              <li>Output a warning or success message in the Components</li>
              <li>
                Style the Components appropriately (maybe some red/ green text?)
              </li>
            </ol>
            <p>Use external or internal templates and styles!</p>
            <p>
              Feel free to create more components, nest them into each other or
              play around with different types of selectors!
            </p>
          </div>
        </div>
      </div>
      <hr />
      <app-warning-alert></app-warning-alert>
      <app-sucess-alert></app-sucess-alert>
    </div>
  </div>
</div>
